{{define "_footer"}}
<link rel="stylesheet" type="text/css" href="/public/css/footer.css" />
<link rel="stylesheet" type="text/css" href="/public/css/font.css" />
<div id="footerBody">
  <div id="fhead">
    <div id="temukan">Temukan kami di :</div>
    <div id="medsos">
      <a href="https://facebook.com"><img src="/public/media/icon/f.png" /></a>
      <a href="https://twitter.com"><img src="/public/media/icon/t.png" /></a>
      <a href="https://youtube.com"><img src="/public/media/icon/y.png" /></a>
    </div>
  </div>
  <div id="fcontent">
    <div class="gogo" id="go1">
      <div class="titlego"><h2>GoGoRosir</h2></div>
      <div class="contmenugo">
        <div class="menugo">Tentang Gogorosir</div>
        <div class="menugo">Info event</div>
        <div class="menugo">Kebijakan Privasi</div>
        <div class="menugo">FAQ (tanya jawab)</div>
        <div class="menugo">Saham Gogorosir</div>
        <div class="menugo">Laporkan Bug</div>
      </div>
    </div>
    <div class="gogo" id="go2">
      <div class="titlego"><h2>Pelanggan</h2></div>
      <div class="contmenugo">
        <div class="menugo">Halaman Tag</div>
        <div class="menugo">Jaminan Aman</div>
        <div class="menugo">Cara Belanja</div>
        <div class="menugo">Promo</div>
        <div class="menugo">Pembayaran</div>
      </div>
    </div>
    <div class="gogo" id="go3">
      <div class="titlego"><h2>TokoGrosir</h2></div>
      <div class="contmenugo">
        <div class="menugo">Cara Berjualan</div>
        <div class="menugo">Hitung Keuntungan</div>
        <div class="menugo">Index Merek</div>
      </div>
    </div>
  </div>
</div>
{{end}}
