{{define "homepage"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GoGoRosir</title>
    <link rel="stylesheet" href="/public/css/headers.css" />
  </head>
  <body>
    {{template "_header"}}
    <div class="slide">
      <img class="mySlides" src="/public/media/images/banner.png" />
      <img class="mySlides" src="/public/media/images/banner2.jpg" />
      <img class="mySlides" src="/public/media/images/bannerc.png" />

      <button class="but-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="but-right" onclick="plusDivs(+1)">&#10095;</button>
      <script src="/public/js/home.js"></script>
    </div>
    <div id="menuIcon">
      <div class="iconMen">
        <img src="/public/media/icon/games.png" />
        <p>Games</p>
      </div>
      <div class="iconMen">
        <img src="/public/media/icon/pulsa.png" />
        <p>Pulsa</p>
      </div>
      <div class="iconMen">
        <img src="/public/media/icon/listrik.png" />
        <p>Listrik</p>
      </div>
    </div>
    <div id="toko">
      <h1>Toko Tersedia</h1>
      <div id="tokoContainer">
        <a class="tokoContent" href="/tokoemil">
          <div class="fotoToko">
            <img src="/public/media/Toko Emil/tokoemil.png" />
          </div>
          <h3>Toko Emil</h3>
          <p>Jl. Untung Suropati, Labuhan Ratu, Kedaton</p>
          <br />
          <p>Merakyat | Bayar Mudah | Tanpa Ribet</p>
        </a>
        <a class="tokoContent" href="/indogros">
          <div class="fotoToko">
            <img src="/public/media/Indogros/indo.jpg" />
          </div>
          <h3>Indogrosir</h3>
          <p>Jl. Lintas Sumatra, Kedaton, Bandar Lammpung</p>
          <br />
          <p>Terpercaya | Harga bersahabat | Untung Lebih Banyak</p>
        </a>
        <div class="tokoContent">
          <div class="fotoToko">
            <img src="/public/media/kosong/kosong.jpg" />
          </div>
          <h3>Segera Hadir</h3>
          <p>...</p>
        </div>
      </div>
    </div>
    <div id="footerss">{{template "_footer"}}</div>
  </body>
</html>

{{end}}
