<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Grosir</title>
		<link rel="stylesheet" type="text/css" href="/public/css/headers.css">
		<link rel="stylesheet" type="text/css" href="/public/css/toko.css">
	</head>
	<body>
		<div class="headers"></div>
		<div class="tokCon">
			<div class="barang"></div>
			<div class="barang"></div>
			<div class="barang"></div>
			<div class="barang"></div>
			<div class="barang"></div>
			<div class="barang"></div>
			<div class="barang"></div>
		</div>
	</body>

</html>