{{define "toko"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Grosir</title>
    <link rel="stylesheet" type="text/css" href="/public/css/headers.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/toko.css" />
  </head>
  <body>
    {{template "_header"}}
    <div id="profile">
      <div id="banner"><img src="{{.banner}}" /></div>
      <div id="info">
        <div id="profileicon"><img src="{{.logo}}" /></div>
        <h3 id="namatoko">{{.nama}}</h3>
        <h5 id="alamattoko">{{.alamat}}</h5>
        <h5 id="spek">{{.spesifikasi}}</h5>
        <a id="chat" href="#">
          <p id="pes">Chat</p>
          <div id="titik"></div>
        </a>
        <a id="foll" href="#"><p id="pess">Ikuti</p></a>
      </div>
    </div>
    <div id="tokCon">
      <div class="barang">
        <img src="/public/media/images/popmie.jpg" />
        <p>Pop mie rasa bakso 1pcs</p>
        <h4>Rp4.000</h4>
      </div>
      <div class="barang">
        <img src="/public/media/images/oreo.jpg" />
        <p>Oreo Original 1box</p>
        <h4>Rp21.700</h4>
      </div>
      <div class="barang">
        <img src="/public/media/images/piatos.jpg" />
        <p>Piatos 1 pcs</p>
        <h4>Rp8.900</h4>
      </div>
    </div>
    <br /><br />
    <div id="tokCon">
      <div class="barang">
        <img src="/public/media/images/pocky.jpg" />
        <p>Pocky Choco Banana 1pcs</p>
        <h4>Rp7.100</h4>
      </div>
      <div class="barang">
        <img src="/public/media/images/relaxa.jpg" />
        <p>Relaxa 1pcs</p>
        <h4>Rp4.500</h4>
      </div>
      <div class="barang">
        <img src="/public/media/images/sprite.jpg" />
        <p>Sprite</p>
        <h4>Rp3.300</h4>
      </div>
    </div>

    <div id="footer">{{template "_footer"}}</div>
  </body>
</html>
{{end}}
